<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>


    <div id="profile-container">
        <div class="header-container">
            <img src="https://s17.postimg.org/ypm5ye95r/image.jpg" alt="" class="header-image" />
            <div class="headerprof">


            </div>
        </div>
        <!-- END header -->
    </div>

    <div class="overlay-header"></div>

    <div class="bodyprof">
        <img src="<%= user.photo.pic_path %>" alt="Profile foto" class="body-image" />


        <div>

            <br> Name:
            <%= user.name%>
                </br>
                Email:
                <%= user.email %>
                    </br>
                    Username:
                    <%= user.username %>
        </div>




    </div>


    <div id="container">

        <form action="/auth/profile/<%= user.id%>/edit" method="POST" id="edit-user" enctype="multipart/form-data">

            <label for="profil-photo">Profile photo:</label>
            <input id="file" type="file" name="photo" capture="camera" accept=" image/* ">
            <br>
            <br>
            <br>
            <label for="name">Name</label>
            <br>
            <input type="text" name="name" maxlength="180" value=<%=user.name%>>
            <br>
            <label for="email">Email</label>
            <br>
            <input type="text" name="email" maxlength="600" class="email" value=<%=user.email%>>
            <br>
            <br>

            <button class="button">Update</button>
        </form>

        <% if (typeof(errorMessage) != "undefined") { %>
            <div class="error-message">
                <%= errorMessage %>
            </div>
            <% } %>
    </div>


</body>

</html>