<div class="container">        

    <div id="profile-container">
        <div class="header-container">
            <img src="https://s17.postimg.org/ypm5ye95r/image.jpg" alt="" class="header-image" />
            <div class="headerprof"></div>
        </div>
        <!-- END header -->
    </div>

    <div class="overlay-header"></div>

    <div class="bodyprof">
        <img src="<%= user.photo.pic_path %>" alt="Profile foto" class="body-image" />

        <div>
            <p>Name: <%= user.name%></p>
            <p>Email: <%= user.email %></p>
            <p>Username: <%= user.username %></p>
        </div>

    </div>

    <form action="/profile/<%= user.id%>/edit" method="POST" id="edit-user" enctype="multipart/form-data">

        <div class="field">
            <label for="profil-photo">Profile photo:</label>
            <input id="file" type="file" name="photo" capture="camera" accept=" image/* ">
        </div>

        <div class="field">
            <label for="name">Name</label>        
            <input type="text" name="name" maxlength="180" value="<%=user.name%>">
        </div>
        
        <div class="field">
            <label for="email">Email</label>
            <input type="text" name="email" maxlength="600" class="email" value="<%=user.email%>">
        </div>
        
        <div class="field">
            <button class="button">Update</button>    
            <% if (typeof(errorMessage) != "undefined") { %>
            <p class="error-message">
                <%= errorMessage %>
            </p>
            <% } %>
        </div>

    </form>
</div>
