

    <div id="profile-container">
        <div class="header-container">
            <img src="https://s17.postimg.org/ypm5ye95r/image.jpg" alt="" class="header-image" />
            <div class="headerprof">

            </div>
        </div>
        <!-- END header -->
    </div>

    <div class="overlay-header"></div>

    <div class="bodyprof">
        <img src="<%= user.photo.pic_path %>" alt="Profile foto" class="body-image" />

        <div>

             Name:
            <%= user.name%>
            
            Email:
            <%= user.email %>
            
            Username:
            <%= user.username %>
        </div>

    </div>

    <h2>Welcome to your Profile</h2>


    <% if (user._id) { %>

    <a href="/profile/<%= user.id%>/edit/">Edit Profile</a>

    <form action="<%= user.id%>/delete/" method="POST">
        <button type="submit">Deactivate Account</button>
    </form>

    <% } %>
