<!DOCTYPE html>
<html>

<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>

<body>fdsgfbgnhmfnhdsaghn

    <%= posts[0].location %>
        <%= posts[0].postId %>
            <h3>My Google Maps Demo</h3>
            <div id="map"></div>
            <script>
                function initMap() {
                    var ironhack = { lat: 41.3977243, lng: 2.1905750999999998 };

                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 18,
                        center: ironhack
                    });

                    var postMarkers = [];

                    


                    // disabling linter because we're templating code
                    /*eslint-disable */
                    <% posts.forEach((post,index) => { %>

                        // <%= userHash[post.user_id].username %>
                        // <%= userHash[post.user_id].name %>



                        var position = {
                            lat: <%=post.location.latitude %>,
                            lng:  <%=post.location.longitude %>
                                };

                    var marker = new google.maps.Marker({
                        position: position,
                        map: map
                    });

                    var contentString = '';

                        var infowindow = new google.maps.InfoWindow({
                            content: contentString
                        });

                    marker.addListener('click', function () {
                            infowindow.open(map, marker);
                        window.location.href=`/add/new/<%=post._id%>`;
                        });
                        
                        postMarkers.push(marker);


                       


                        <% }); %>
                    /*eslint-enable */

                }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbnybcbBy1raUOu9YsNd5QqNz0WBP_M-k&callback=initMap">
            </script>
</body>

</html>