<!DOCTYPE html>
<html>

<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>

<body>
    <h3>Global Map Explore</h3>
    <div id="map"></div>
    <script>
        function initMap() {
            var ironhack = { lat: 41.3977243, lng: 2.1905750999999998 };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: ironhack
            });

            var postMarkers = [];




            function bindInfoWindow(marker, map, infowindow, html) {
                marker.addListener('click', function () {
                    infowindow.setContent(html);
                    infowindow.open(map, this);
                });
            }


                    // disabling linter because we're templating code
                    /*eslint-disable */

                    <% posts.forEach((post, index) => { %>

                        // <%= userHash[post.user_id].username %>
                        // <%= userHash[post.user_id].name %>
                        var position = {
                    lat: <%=post.location.latitude %>,
                    lng:  <%=post.location.longitude %>
                                };

                var marker = new google.maps.Marker({
                    position: position,
                    map: map
                });

                marker.setIcon(({
                    url: '../images/map-marker-photo.png',
                    size: new google.maps.Size(50, 50),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(50, 50)
                }));

                var contentString =
                    `<div class="post-preview"> 
                                <h1><%= post.title %></h1>
                                <h2><%= userHash[post.user_id].name %></h2>
                                 <p>Post: <a href="http://localhost:3000/add/new/<%=post._id%>"><%= post.title %></a>  </p>                  
                                 <img src="<%= post.picture.pic_path %>" class='map-photo'  >`

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                // marker.addListener('click', function () {
                //     infowindow.open(map, marker);
                //     // window.location.href = `/add/new/<%=post._id%>`;
                // });

                bindInfoWindow(marker, map, infowindow, contentString);

                postMarkers.push(marker);

                
                       
                        

                        <% }); %>
                /*eslint-enable */
                // let markerCluster = new MarkerClusterer(map, postMarkers,
                //     { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });


                let mapstyle = [{
                    url: 'https://googlemaps.github.io/js-marker-clusterer/images/m1.png',
                    height: 53,
                    width: 52,
                    anchor: [-18, 0],
                    textColor: '#ffffff',
                    textSize: 10,
                    iconAnchor: [15, 48]
                }]


            markerClusterer = new MarkerClusterer(map, postMarkers, {
                maxZoom: 18,
                gridSize: 40,
                styles: mapstyle,
                imagePath: '../images/m'
            });

            google.maps.event.addListener(markerClusterer, 'clusterclick', function (cluster) {
                map.setCenter(cluster.getCenter());
                map.setZoom(map.getZoom() + 1);
            });


        }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbnybcbBy1raUOu9YsNd5QqNz0WBP_M-k&callback=initMap">
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>

</body>

</html>