<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
    </h1>
    <p>Welcome to edit Product
    </p>


    <br>
    <br>
    <br>

    <div id="container">

        <form action="/add/new/<%= post.id%>" method="POST" id="edit-post" enctype="multipart/form-data">
            <label for="postTitle">Title</label>
            <br>
            <input type="text" name="postTitle" maxlength="140" value=<%=post.title%>>
            <br>
            <label for="postContent">Content</label>
            <br>

            <!-- <input type="text" name="postContent" maxlength="600" class="postContent" value=<%=post.content%>>
            <br> -->

            <textarea rows="4" cols="50" name="postContent" maxlength="600" class="postContent"><%=post.content%>
            </textarea>

            <br>
            <label for="cover-photo">Cover photo:</label>
            <input id="file" type="file" name="photo" capture="camera" accept=" image/* ">
            <br>
            <button class="button">Update</button>
        </form>

        <% if (typeof(errorMessage) != "undefined") { %>
            <div class="error-message">
                <%= errorMessage %>
            </div>
            <% } %>
    </div>


</body>

</html>