<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div>
        <h2>Hi
            <%= name %>
        </h2>
    </div>

    <div>
        <a href="/add/new">New post</a>
        <a href="/logout">Logout</a>

        <h2> #Ironline</h2>
        <br>

    </div>



    <% posts.forEach(function(post) { %>


        <a href="/add/new/<%= post.id %>"></a>

        <!-- item -->
        <div class="item ">

            <div class="card__header">
                <div class="card__image">
                    <img src="<%= userHash[post.user_id].photo.pic_path %>" alt="profile pic" />
                </div>
                <div class="card__name-time">
                    <h4 class="card__name">

                        <%= userHash[post.user_id].name %>
                    </h4>
                    <div class="card__time">
                        12:55
                    </div>
                </div>
            </div>







            <div class="cont_pic" style="background-image: url(<%= post.picture.pic_path %>);height:150px">
                <div class="like_pic">
                    <i class="fa fa-heart-o"></i>
                </div>
            </div>

            <!-- #cont_pic -->
            <div class="info">
                <div class="up_cont">
                    <h3>
                        <%= post.title %>

                    </h3>
                    <p>
                        <%= post.content %>
                    </p>
                </div>

                <!-- #up_cont -->
                <div class="down_cont">
                    <div class="left_icons">
                        <span class="comment fa fa-comment"> 22</span>
                        <span class="view fa fa-eye"> 132</span>
                        <span class="like fa fa-heart"> 45</span>
                    </div>
                    <!-- #left_icons -->
                    <time class="timeago">
                        <%= moment(post.created_at).format("LL, LTS") %>
                    </time>
                </div>
                <!-- #down_cont -->
            </div>
            <!-- #info -->
        </div>



        <hr>

        <% }) %>




</body>

</html>