<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
    </h1>
    <p>Welcome to Show Product
    </p>


    <br>
    <div>
        Hello
        <%= user.username%> what's on your mind?
    </div>
    <br>
    <br>

    <div id="container">
        Title:
        <br>
        <%= post.title%>
            </br>
            Content:
            <br>
            <%= post.content %>


    </div>

    <a href="/add/new/<%= post.id%>/edit/">Edit Post</a>

    <form action="<%= post.id%>/delete/" method="POST">
        <button type="submit">Delete Post</button>
    </form>


</body>

</html>