
<div id="container">
  <h2>Hi <%= username %></h2>

  <a href="/add/new">New post</a>
  <a href="/logout">Logout</a>

  <h2>@<%= username %> posts</h2>

  <% posts.forEach(function(post) { %>
  <a href="/add/new/<%= post.id %>">
    <div class="post-container">

      <p class="post-author">
        <%= name %>
        <%= post.postId %>
      </p>

      <p class="post-title">
        <span class="a11y-only">Title:</span>
        
        <%= post.title %>
      </p>
      <p class="post content">
        <span class="a11y-only">Content:</span>
        
        <%= post.content %>
      </p>
      <p class="date">
        <span class="a11y-only">Date:</span>
        <%= moment(post.created_at).format("LL, LTS") %>
      </p>
    </div>
  </a>
  <hr/>
  <% }) %>

</div>